<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Anshul Gupta</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="assets/img/profile.jpg" alt="" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="assets\PDF\Anshul_Gupta_Resume.pdf"
                        target="_blank" rel="noopener noreferrer">Download Resume</a></li>

            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Anshul
                    <span class="text-primary">Gupta</span>
                </h1>
                <div class="subheading mb-5">
                    Developer @ <a href="https://www.principal.com/" target="_blank" rel="noopener noreferrer">Principal Global Services</a>
                    • Pune, India • +91-8602696376 •
                    <a href="mailto:guptaanshul1808@gmail.com" target="_blank" rel="noopener noreferrer">guptaanshul1808@gmail.com</a>
                </div>
                <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for
                    high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to
                    further the overall value proposition. I am experienced in leveraging agile frameworks to provide a robust synopsis for
                    high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to
                    further the overall value proposition.</p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/anshul-gupta-897670124/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/anshulio" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://twitter.com/thatsgr" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="https://www.hackerrank.com/guptaanshul1808" target="_blank" rel="noopener noreferrer"><i class="fab fa-hackerrank"></i></a>
                    <a class="social-icon" href="https://www.hackerearth.com/@anshul268" target="_blank" rel="noopener noreferrer"><i class="fa fa-h-square"></i></a>
                    <a class="social-icon" class="btn btn-primary" style=" margin-bottom: 15px;" href="assets\PDF\Anshul_Gupta_Resume.pdf" target="_blank" rel="noopener noreferrer" role="button">Printable Resume</a>               
                </div>
                        
                </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Software Developer</h3>
                        <div class="subheading mb-3">Principal Global Services</div>
                        <p>Developed search page which helped the client to retrive the required job/jobs from the database as per their requirements,
                             based on various filters. Written an REST API which Reduced the data retrivel time to 5 seconds which previously took more than 20 seconds. I have worked on the following technologies during the development of the search page: Angular, JAVA, MongoDB, Spring, Git etc.
                            Also, Communicated and co-ordinated with clients to understand the project requirements and finalize its scope.  </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">March 2020 - Present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">System Engineer Trainee</h3>
                        <div class="subheading mb-3">Tata Consultancy Services</div>
                        <p>I worked for the client Jaguar Land Rover(JLR ) in TCS. I had developed and worked on various Applications, Software components, Automation scripts which eventually saved more than 80+ hours of manual work per week across the entire project. During my tenure in TCS I worked on various technologies: JAVA, UNIX, Spring, ADFS, MOS-OS, Hibernate, Single-Sign-On (SSO) ,Git, Maven etc for the application development.  </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">November 2017 - March 2020</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5" style="margin-bottom: 2rem;">Skills</h2>
                <div class="row">
                    <div class="techstack col-xs-12 col-sm-12 col-lg-12 padding-bottom">
                        <h3 class="title title-skills">Technology Stack </h3>

                        <label style="margin-bottom:0;margin-top:10px;">
                            <i class="fas fa-book-open" style="color: #bd5d38;"></i>
                            &nbsp;
                            Concepts
                        </label>
                        <div>
                            Object Oriented Programming (OOP), Data Structures and Algorithms, DBMS, ADFS, UI and Backend Development.
                        </div>

                        <label style="margin-bottom: 0;margin-top: 10px;">
                            <i class="fas fa-desktop" style="color: #bd5d38;"></i>  
                            &nbsp;
                            Programming
                        </label>
                        <div >
                            C/C++, Java, Angular, JavaScript, Python (beginner), Shell Scripting, JSP and Servlets.
                        </div>
                        
                        <label style="margin-bottom:0;margin-top:10px;">
                            <i class="fas fa-globe-americas " style="color: #bd5d38;"></i>
                            &nbsp;
                            FrameWorks
                        </label>
                        <div >
                            Spring MVC, Hibernate, Git, Bootstrap, Maven, Spring Boot.
                        </div>
                        
                        <label style="margin-bottom:0;margin-top:10px;">
                            <i class="fas fa-database" style="color: #bd5d38;"></i>
                            &nbsp;
                            Database and Tools
                        </label>
                        <div style="padding-bottom: 20px;">
                            NoSQL, MySQL, MongoDB, Oracle 11g, Bitbucket, Bamboo.
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                        <h3 class="title title-skills">Technical Knowledge </h3>
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <ul style="padding-top: 10px;">
                                <li>
                                    anshul gupta 
                                </li>
                                <li>
                                    anshul gupta 
                                </li>
                                <li>
                                    anshul gupta 
                                </li>
                                <li>
                                    anshul gupta 
                                </li>
                                <li>
                                    anshul gupta 
                                </li>
                            </ul>

                        </div>
                    </div> -->
                </div>         
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <!-- College -->
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Acropolis Institute of Technology and Research</h3>
                        <div class="subheading mb-3">Bachelor of Engineering (B.E)</div>
                        <div>Information Technology</div>
                        <p>CGPA: 7.38</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">July 2013 - July 2017</span></div>
                </div>
                <!-- 12th -->
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">New Digamber Public School</h3>
                        <div class="subheading mb-3"> Class 12th (Senior Secondary)</div>
                        <div>Central Board Of Secondary Education</div>
                        <p>Percentage: 72%</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">April 2012 - April 2013</span></div>
                </div>
                <!-- 10th -->
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">New Digamber Public School</h3>
                        <div class="subheading mb-3"> Class 10th (Higher Secondary)</div>
                        <div>Central Board Of Secondary Education</div>
                        <p>CGPA: 8.4</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">April 2010 - April 2011</span></div>
                </div>
                
            </div>
        </section>
        <hr class="m-0" />
        
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from being a software developer, I enjoy most of my time being outdoors.I love moving out, meet ineresting people and try new things.
                    I am a sports enthusiast and always up for a game. Volleyball is my favourtie sport and I have represented my district and state for the same.
                    Usually on weekends, I enjoy trekking, soccer games, long drives, and silly conversations with my friends.

                </p>
                <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows.
                    I spend a large amount of my free time exploring the latest technology advancements and get to know about new gadgets.
                    Being around animals is one of my favourite stress buster.
                    For me the essentials to happiness in this life are something to do, something to love and soemthing to hope for.
                    Also, I am an aspiring chef and wish to own a small restaurant someday. #fingerscrossed.</p>
            </div>
        </section>
        <hr class="m-0" />
       
    </div>
    
</body>

</html>